@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
  box-sizing: border-box;
}

body {
  background-color: #6aeeb9;
  font-family: 'Roboto', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
  margin: 0;
  padding: 20px;
}

.container {
  background-color: #f4f4f4;
  border-radius: 10px;
  box-shadow: 0 10px 20px rgba(105, 93, 93, 0.1), 0 6px 6px rgba(0, 0, 0, 0.1);
  padding: 5px 20px;
  text-align: center;
  max-width: 100%;
  width: 500px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.section-header {
  width: 100%;
}

.section-header h1 {
  text-align: start;
  border-bottom: 1px solid #000;
  padding-bottom: 5px;
}

.todo-form {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-bottom: 1px solid #000;
}

.todo-input {
  padding-left: 10px;
  border: none;
  background-color: #cfc6c6;
  padding-bottom: 5px;
  font-size: 18px;
}

.add-btn {
  background-color: #f4f4f4;
  border: none;
  align-self: flex-end;
  cursor: pointer;
  font-size: 20px;
}

.todo-list-container {
  display: flex;
  flex-direction: column;
  padding-top: 10px;
}

.task-container {
  display: flex;
  flex-direction: row;
  margin-bottom: 10px;
}

.task-desc {
  margin-left: 10px;
  font-size: 24px;
  width: 410px;
  background-color: #f4f4f4;
  border: none;
}

.clear-btn {
  align-self: center;
  width: 100%;
  background-color: #f4f4f4;
  border: none;
  cursor: pointer;
  padding-top: 20px;
  padding-bottom: 20px;
  font-size: 20px;
}

#removeBtn {
  background-color: #f4f4f4;
  border: none;
  align-self: center;
  cursor: pointer;
  font-size: 18px;
}

@media screen and (max-width: 768px) {
  .task-desc {
    width: 240px;
  }
}
